.button
{
    min-height: 40px;
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(199, 82, 2);
    border-radius: 155px;
    cursor: pointer;
    text-transform: uppercase;
}
.horizontal
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 80%;
}
hr{
    width: 100%;
    background:#fff;
    height: 1px;
}
.eye{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    cursor: pointer;
}
.eye:active{
    transform: translateY(100%) scale(1.1);
}